.homePage {
    margin-top: 150px;
}

.team-images {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.block-random-team {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0px 3% 0px;
}

.logo-aptenna-random img {
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

/* slide infinite */

.container {
    overflow: hidden;
}
.slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}
.logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}
.fab {
    width: calc(100% / 20);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

/* ---------------------------- */

.title-homePage {
    font-size: 22px;
}

.para-text-homePage {
    font-size: 26px;
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-homePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-aptenna-random img {
    width: 208px;
    height: 150px;
    margin: 0 auto;
}

.seo-homepage-text {
    width: 70%;
}

.logos-techno-slide {
    width: 100px;
}

.title-homePage-redic-button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 3% 0px 3% 0px;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
