.form-updatePrestation {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-form-block-area-updated- {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
